@{
    ViewData["Title"] = "Yazılar";
}
@{
    Layout = "_LayoutNews";
}

@model List<GNewsViewModel>
<!-- ====== start popular posts ====== -->
<section class="tc-popular-posts-blog">
    <div class="container">
        <div class="content-widgets pt-50 pb-50">
            <div class="row">
                <div class="col-lg-10 pe-lg-5">
                    <div class="tc-post-list-style3">
                        <div class="items">
                            @if (Model.Count > 0)
                            {



                                @foreach (var item in Model)
                                {
                                    if (!item.IsDeleted && item.IsPublished)
                                    {

                                        <div class="item">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="img th-230 img-cover overflow-hidden">
                                                        <img src="@item.PictureUrl" alt="@item.Title">
                                                        <a asp-action="Details" asp-controller="GNews" asp-route-id="@item.Id" class=" icon-60 border-2">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="content mt-20 mt-lg-0">

                                                        <h4 class="title fw-bold">
                                                            <a asp-action="Details" asp-controller="GNews" asp-route-id="@item.Id" class="hover-underline">
                                                                @item.Title
                                                            </a>
                                                        </h4>
                                                        <div class="text color-666 mt-20">
                                                            @item.Description
                                                        </div>
                                                        <div class="meta-bot fsz-13px color-666">
                                                            <ul class="d-flex">
                                                                <li class="date me-5">
                                                                    <i class="la la-calendar me-2"></i> @item.CreatedDate.ToShortDateString()
                                                                </li>
                                                            </ul>
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widgets widgets-sticky mt-5 mt-lg-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<!-- ====== end popular posts ====== -->
@await Component.InvokeAsync("Source")