@{
    ViewData["Title"] = "Yazı Detay";
}
@{
    Layout = "_LayoutNews";
}
@model WriteViewModel

@{
    List<AuthorViewModel> authorsList = ViewBag.Authors as List<AuthorViewModel>;
    var author = authorsList.FirstOrDefault(a => a.Id == Model.AuthorId);
}


<!-- ====== start tc-main-post-style1 ====== -->
<section class="tc-main-post-style1 pb-60">
    <div class="container">
        <div class="tc-main-post-title pt-40 pb-40">
            <div class="row">

                <div class="col-lg-8">                    
                    <h4 class="title">@author.Name @author.Surname Yazdı</h4>
                    <h2 class="title">@Model.Title</h2>
                </div>
            </div>
        </div>  
        
        <div class="tc-main-post-img img-cover mb-50">
            <img src="@Model.PictureUrl" alt="@Model.Title">
        </div>
        <div class="tc-main-post-content color-000">
            <div class="row">
                <div class="col-lg-2">
                    <div class="sharing">
                        <p class="text-uppercase mb-20">Share</p>
                        <div class="share-icons">
                            <a href="#"> <i class="la la-twitter"></i> </a>                          
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <h4 class="sub-title sm-content-width">
                        @Model.Title
                    </h4>
                    <p class="info-text sm-content-width mt-40">
                        @Model.Description
                    </p>                  
                    
                    <div class="info-text-img mt-30">
                        <div class="row">
                            <div class="col-lg-7">
                                <p class="info-text">
                                    @Model.Content
                                </p>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>          
        </div>
    </div>
</section>
<!-- ====== end tc-main-post-style ====== -->
<!-- ====== start banner18 ====== -->
<section class="banner18">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="content border-1 border-top border-bottom brd-gray pt-50 pb-50">
                    <a href="#" class="d-block img-cover">
                        <img src="/template/assets/img/banner18.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== end banner18 ====== -->

<!-- ====== start author info ====== -->

<section class="tc-author-info-style1 pb-60">
    <div class="container">
        <div class="tc-author-card border-1 border-top brd-gray">
            <div class="content mt-50 p-50 d-block d-lg-flex bg-gray1">
                <div class="img img-cover icon-85 rounded-circle overflow-hidden flex-shrink-0 me-30">
                    <img src="@author.ProfilePicUrl" alt="">
                </div>
                <div class="info">
                    <h5 class="title fsz-24px fw-bold">@author.Name @author.Surname</h5>
                    <small class="fsz-12px color-main text-uppercase">@author.Bio</small>
                    <div class="text fsz-15px color-666 mt-20">
                        @author.Bio
                    </div>
                    <div class="social-links mt-20 fsz-19px">
                        <a href="#" class="me-15"><i class="la la-twitter"></i></a>
                        <a href="#" class="me-15"><i class="la la-facebook-f"></i></a>
                        <a href="#" class="me-15"><i class="la la-instagram"></i></a>
                        <a href="#"><i class="la la-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== end author info ====== -->

