@model IEnumerable<erbildaphne.comMvcWebApp.Models.WriteViewModel>

<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Write" asp-route-id="@item.Id">Düzenle</a>
                    @if (!item.IsPublished)
                    {
                        <a asp-action="Publish" asp-route-id="@item.Id" class="btn btn-success">Yayına Al</a>
                    }
                    else
                    {
                        <a asp-action="Publish" asp-route-id="@item.Id" class="btn btn-warning">Yayından Kaldır</a>
                    }
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Write" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
