@{
    ViewData["Title"] = "Yazı Detay";
}
@{
    Layout = "_LayoutNews";
}
@model MainNewsViewModel


@if (Model.IsPublished && !Model.IsDeleted)
{




    <!-- ====== start tc-main-post-style1 ====== -->
    <section class="tc-main-post-style1 pb-60 mx-auto">
        <div class="container">
            <div class="tc-main-post-title pt-40 pb-40">
                <div class="row">

                    <div class="col-lg-8">                       
                        <h2 class="title">@Model.Title</h2>
                    </div>
                </div>
            </div>

            <div class="tc-main-post-img th-650 img-cover mb-50">
                <img src="@Model.PictureUrl" alt="@Model.Title">
            </div>
            <div class="tc-main-post-content color-000">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="sharing">
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <h4 class="sub-title sm-content-width">
                            @Model.Title
                        </h4>
                        <p class="info-text sm-content-width mt-40">
                            @Model.Description
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="tc-main-post-content color-000">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="sharing">
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <p class="info-text sm-content-width mt-40">

                            @Html.Raw(Model.Content)

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== end tc-main-post-style ====== -->
    <!-- ====== start banner18 ====== -->
    <section class="banner18">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="content border-1 border-top border-bottom brd-gray pt-50 pb-50">
                        <a asp-action="Contact" asp-controller="Home" class="d-block img-cover">
                            <img src="/template/assets/img/banner18.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== end banner18 ====== -->    
}
