@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_LayoutNews";
}
@{
    List<AuthorViewModel> authorsList = ViewBag.Authors as List<AuthorViewModel>;
}
@model List<WriteViewModel>
<!-- ====== start trends news ====== -->
<section class="tc-trends-news-style1 pt-50 pb-50 bg-gray1">
    <div class="container">
        <div class="hot-trends-tabs-style1 mb-4">
            <p class="color-999 text-uppercase ltspc-1 flex-shrink-0 me-4 pt-1">
                <i class="ion-arrow-graph-up-right me-2"></i> Son Yazılar
            </p>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-lg-9">
                    <div class="tc-trends-news-slider1 tc-slider-style2">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                @foreach (var write in Model.OrderByDescending(m => m.CreatedDate).Take(5))
                                {
                                    if (!write.IsDeleted && write.IsPublished)
                                    {

                                        <div class="swiper-slide">
                                            <div class="mt-0 tc-post-overlay-default">
                                                <div>
                                                    <a asp-action="Details" asp-controller="Write" asp-route-id="@write.Id">
                                                        <img style="width: 870px; max-height: 500px;" src="@write.PictureUrl" alt="@write.Title">
                                                    </a>
                                                </div>
                                                <div class="content ps-40 pe-40 pb-40">
                                                    <h2 class="title mb-20">
                                                        <a asp-action="Details" asp-controller="Write" asp-route-id="@write.Id">
                                                            @write.Title
                                                        </a>
                                                    </h2>
                                                    <div class="text mb-40">
                                                        <a asp-action="Details" asp-controller="Write" asp-route-id="@write.Id">
                                                            @write.Description
                                                        </a>
                                                    </div>
                                                    <div class="meta-bot lh-1">
                                                        <ul class="d-flex">
                                                            <li class="date me-5">
                                                                <i class="la la-calendar me-2"></i> @write.CreatedDate.ToShortDateString()
                                                            </li>
                                                            @foreach (var author in authorsList)
                                                            {
                                                                if (author.Id == write.AuthorId)
                                                                {
                                                                    <li class="author me-5">
                                                                        <a asp-action="Details" asp-controller="Author" asp-route-id="@author.Id"><i class="la la-user me-2"></i> @author.Name</a>
                                                                    </li>
                                                                }
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }


                            </div>
                        </div>
                        <!-- arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    @await Component.InvokeAsync("GNews")
                </div>
            </div>
            <br />
            <div>
                <a asp-action="Index" asp-controller="Write">
                    Tüm yazılar<i class="la la-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ====== end trends news ====== -->
@await Component.InvokeAsync("MustRead")
@await Component.InvokeAsync("Author")

